@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>MiSOI Passport Reader</h3>
<p>TEAM 1: Сергей Мешков, Павел Пучко, Ковганов Дмитрий, Смирнов Петр</p>
<p>BEST TEAM I HAVE EVER SEEN</p>

