@{
    ViewBag.Title = "Home Page";
}

<div class="row">
	<h1>Пожалуйста, загузите изображение для обработки</h1>
	<form id="uploader">
		<input id="fileInput" class="form-control" type="file" multiple/>
		<input id="fileSubmit" type="submit" class="btn btn-primary form-control" value="Upload file" />
	</form>
</div>
<script>
	document.getElementById('uploader').onsubmit = function () {
		$('#fileSubmit').attr("disabled", "true");
		$('#fileSubmit').attr("value", "Please, wait...");

		var formdata = new FormData(); //FormData object
		var fileInput = document.getElementById('fileInput');
		//Iterating through each files selected in fileInput
		for (i = 0; i < fileInput.files.length; i++) {
			//Appending each file to FormData object
			formdata.append(fileInput.files[i].name, fileInput.files[i]);
		}
		//Creating an XMLHttpRequest and sending
		var xhr = new XMLHttpRequest();
		xhr.open('POST', 'Home/UploadImage');
		xhr.send(formdata);
		xhr.onreadystatechange = function () {
			$('#fileSubmit').removeAttr("disabled");
			$('#fileSubmit').attr("value", "Upload file");
			if (xhr.readyState == 4 && xhr.status == 200) {
				$('body').append("<img title= 'Box' src='/img/BoxFilter_" + xhr.responseText.slice(1, -1) + "'>");
				$('body').append("<img title= 'Median' src='/img/MedianFilter_" + xhr.responseText.slice(1, -1) + "'>");
				$('body').append("<img title= 'Binarization' src='/img/BinarizationFilter_" + xhr.responseText.slice(1, -1) + "'>");

				alert(xhr.responseText);
			}
		}
		return false;
	}
</script>